<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task2</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        background-color: aqua;
        min-height: 100vh;
      }
      h1 {
        color: darkblue;
        font-size: 3rem;
        font-family: Georgia, "Times New Roman", Times, serif;
        text-align: center;
      }

      main {
        margin: auto;
        flex: 1;
      }
    </style>
  </head>
  <body>
    <h1>Book Component By Function</h1>
    <main
      style="width: 25%; height: 20%; margin: auto; background-color: white"
    >
      <div
        style="
          background-color: lightgray;
          width: 100%;
          padding: 20px 0;
          text-align: center;
        "
      >
        <div style="font-size: 14px; color: black; font-weight: bold">
          O'REILLY
        </div>
        <div
          style="
            font-size: 12px;
            color: gray;
            margin-top: 10px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
          "
        >
          "Kyle's way of critically thinking about every tiny bit of the
          language will creep into your mindset and general workflow"
          <br />— SHANE HUDSON, freelance frontend website developer
        </div>
        <div
          style="
            font-size: 24px;
            font-weight: bold;
            padding-top: 2rem;
            padding-left: 40%;
          "
        >
          KYLE SIMPSON
        </div>
      </div>

      <div
        style="
          background-color: white;
          width: 100%;
          padding: 40px 0;
          text-align: center;
        "
      >
        <div style="font-size: 48px; font-weight: bold; margin-top: 20px">
          SCOPE &amp;<br />CLOSURES
        </div>
      </div>

      <!-- Bottom yellow section -->
      <div
        style="
          background-color: #ffd700;
          width: 100%;
          padding: 2rem 0;
          text-align: center;
        "
      >
        <div style="font-size: 10rem; font-weight: bold; color: black">JS</div>
      </div>
    </main>
  </body>
</html>
